body{
  min-width: 350px;
}
.jumbotron {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: gray;
    text-transform: uppercase;
    background-image: linear-gradient(white,lightblue);
}
